<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new workout</title>
  </head>
  <body>
    <form action="/workouts/new" method="post">
      <section>
        <label for="workout[name]">workout name</label>
        <input type="text" id="workout[name]" name="workout[name]" />
      </section>
      <section>
        <label for="workout[sets]">workout sets</label>
        <input type="number" id="workout[sets]" name="workout[sets]" />
      </section>
      <section>
        <label for="workout[reps]">workout reps</label>
        <input type="number" id="workout[reps]" name="workout[reps]" />
      </section>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
