<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>show</title>
  </head>
  <body>
    <%const {name, sets, reps} = workout%>
    <section>
      <h3>workout name: <%=name%></h3>
      <p>sets: <%=sets %></p>
      <p>reps: <%=reps %></p>
    </section>
    <footer><a href="/workouts">all workouts</a></footer>
  </body>
</html>
