<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../styles.css" rel="stylesheet" >

    <title>WorkoutBuddy</title>
    

  </head>
  <body>
    <section class="info-card" >
        <h1>your home page</h1>
        <h3>what this website is for CRUD operations and practicing authentication</h3>
        <h2><a href="/api-docs">documentation</a></h2>
    </section>

  </body>
</html>
